@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 100%;
}

.container {
    width: 70%;
    margin: auto;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    font-size: .8rem;
    cursor: pointer;
}

.active {
    color: #0282f9;
    border-bottom: 3px solid #0282f9;
}